<div class="dots" style="--size: 250px; --dot-size: 35px; --dot-count: 17; --speed: 1s; --spread: 80deg;">
    <div style="--i: 0;" class="dot"><img style="--im: 0;" src="../../assets/types/icone_size/bug.png" alt="icone bug"></div>
    <div style="--i: 1;" class="dot"><img style="--im: 1;" src="../../assets/types/icone_size/dark.png" alt="icone dark"></div>
    <div style="--i: 2;" class="dot"><img style="--im: 2;" src="../../assets/types/icone_size/dragon.png" alt="icone dragon"></div>
    <div style="--i: 3;" class="dot"><img style="--im: 3;"src="../../assets/types/icone_size/electric.png" alt="icone electric"></div>
    <div style="--i: 4;" class="dot"><img style="--im: 4;" src="../../assets/types/icone_size/fairy.png" alt="icone fairy"></div>
    <div style="--i: 5;" class="dot"><img style="--im: 5;" src="../../assets/types/icone_size/fighting.png" alt="icone fighting"></div>
    <div style="--i: 6;" class="dot"><img style="--im: 6;" src="../../assets/types/icone_size/fire.png" alt="icone fire"></div>
    <div style="--i: 7;" class="dot"><img style="--im: 7;" src="../../assets/types/icone_size/flying.png" alt="icone flying"></div>
    <div style="--i: 8;" class="dot"><img style="--im: 8;" src="../../assets/types/icone_size/ghost.png" alt="icone ghost"></div>
    <div style="--i: 9;" class="dot"><img style="--im: 9;" src="../../assets/types/icone_size/grass.png" alt="icone grass"></div>
    <div style="--i: 10;" class="dot"><img style="--im: 10;" src="../../assets/types/icone_size/ground.png" alt="icone ground"></div>
    <div style="--i: 11;" class="dot"><img style="--im: 11;" src="../../assets/types/icone_size/ice.png" alt="icone ice"></div>
    <div style="--i: 12;" class="dot"><img style="--im: 12;" src="../../assets/types/icone_size/normal.png" alt="icone normal"></div>
    <div style="--i: 13;" class="dot"><img style="--im: 13;" src="../../assets/types/icone_size/poison.png" alt="icone poison"></div>
    <div style="--i: 14;" class="dot"><img style="--im: 14;" src="../../assets/types/icone_size/psychic.png" alt="icone psychic"></div>
    <div style="--i: 15;" class="dot"><img style="--im: 15;" src="../../assets/types/icone_size/rock.png" alt="icone rock"></div>
    <div style="--i: 16;" class="dot"><img style="--im: 16;" src="../../assets/types/icone_size/steel.png" alt="icone steel"></div>
    <div style="--i: 17;" class="dot"><img style="--im: 17;" src="../../assets/types/icone_size/water.png" alt="icone water"></div>
</div>