.Vignette {
    margin: 15px;
    padding: 15px;
    width: 150px;
    height: 150px;
    p {
        margin: 0;
        font-size: 1.5em;
        font-family: 'bebas';
    }
    img {
        width: 130px;
        height: 130px;
    }
}

